[Unit]
Description=Monitor agent for Flume
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/flume-agent
PIDFile=/var/run/flume-agent/flume-agent.pid
ExecStart=/opt/flume-agent/flume-agent start
ExecReload=/opt/flume-agent/flume-agent restart
ExecStop=/opt/flume-agent/flume-agent stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
